extends ./../layout

block content
  div.container
    div.toolbar
      a(href="/admin/resourse/add").btn.btn-primary Додати
    table.table
      tr
        th ID
        th Назва
        th Опис
        th Дата створення
        th Дії
      each resourse in resourses
        tr
          td= resourse.ResourseId
          td= resourse.Name
          td= resourse.Description
          td= resourse.CreatedOn
          td
            a Змінити
            |  | 
            a Видалити