extends ./../layout

block content
  div.container
    div.toolbar
      a(href="admin/add").btn.btn-primary Додати
    table.table
      tr
        th ID
        th Назва
        th Опис
        th Дата створення
        th Дії
      tr
        td 1
        td Олеський замок
        td дліваовіаів а лдіволдао
        td 30.08.2015
        td
          a Змінити
          |  | 
          a Видалити