extends layout

block content
  div.logo-wrapper
    h1= 'Туристичні ресурси України'

  div#myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li(data-target='#myCarousel', data-slide-to='0').active
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    div.carousel-inner
      div.item.active
        img(src='/images/Going_Up_To_Olesko_Castle.jpg').img-responsive
        div.container
          div.carousel-caption
            h1= 'Олеський замок'
            p Оле́ський за́мок — пам'ятка архітектури та історії XIII–XVIII століть, розташований у смт Олесько, Буського району Львівської області. Один із найдавніших в Україні замків, імовірно, побудований одним із синів галицько-волинського князя Юрія Львовича на плато пагорба, який височить серед заплави р. Ліберція.\
            p
              a.btn.btn-lg.btn-primary(href='#') Переглянути